@font-face {
  font-family: 'alef-regular';
  src: url('../fonts/Alef-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'alef-bold';
  src: url('../fonts/Alef-Bold.ttf') format('ttf');
}

@font-face{
  font-family: 'suez-one';
  src: url('../fonts/SuezOne-Regular.ttf') format('ttf');
}